body {  
	background-color: #FAFAFA;  
	font-family: arial;
	color: #333;
}

#map {
	background-color: #AFA;
}

#land_tiling {
	background-image: url('../images/tiling.png');
	background-size: 25px;
}

point {
	/*background-color: #804;*/
}

peephole{
	background-image: url('../images/peephole.png');
	opacity: 0.3;
}


/* a tree */
/* for trees people sit under, or find value in being around*/
.point_icon_0 {
	background-image: url("../images/icons/map_sets/retro_pixel/pixel_tree.png")
}

/* mens restroom */
/* simple, dirty, hilarious male bathroom banter */
.point_icon_1 {
	background-image: url("../images/icons/map_sets/testing/mens_room.png")
}

/* men and womens restroom */
/* the thoughts of people who are in a bathroom on their phone */
.point_icon_2 {
	background-image: url("../images/icons/map_sets/testing/mens_or_womens_room.jpg")
}

/* womens restrooom */
/* I've never read what women write in the bathroom */
.point_icon_3 {
	background-image: url("../images/icons/map_sets/testing/womens_room.png")
}

/* a bench */
/* could be bus stops, or park benches, or benches in general*/
.point_icon_4 {
	background-image: url("../images/icons/map_sets/testing/bench.png")
}

/* message in a bottle */
/* for posts made in water, or that simply float about */
.point_icon_5 {
	background-image: url("../images/icons/map_sets/testing/message_in_a_bottle.png")
}


/* a duck */
/* no good */
.point_icon_6 {
	background-image: url("../images/icons/map_sets/testing/duck.png")
}


/* a pizza place icon */
.point_icon_7 {
	background-image: url("../images/icons/map_sets/testing/pizza_place.png")
}

/* an italian restaurant icon */
.point_icon_8 {
	background-image: url("../images/icons/map_sets/testing/italian_restaurant.png")
}


/* an amplified music place */
/* more aimed at clubs and raves than live music */
.point_icon_9 {
	background-image: url("../images/icons/map_sets/testing/sound_system.png")
}


/* an anonymizing mask icon */
/* the mask keeps peoples identies safe */
.point_icon_10 {
	background-image: url("../images/icons/map_sets/testing/anonymous_mask.png")
}


/* an anarchic icon */
.point_icon_11 {
	background-image: url("../images/icons/map_sets/testing/anarchy.png")
}


/* a book place icon */
/* for bookstores and libraries, and anywhere you like to read */
/* try to keep it to one or a few books, rather than a book case */
.point_icon_12 {
	background-image: url("../images/icons/map_sets/testing/book_place.png")
}


/* a place of zen icon */
/* for places where people find zen.  meditative spaces. yoga, meditation, hippies... */
.point_icon_13 {
	background-image: url("../images/icons/map_sets/testing/meditation_space.jpg")
}


/* a smoking space icon */
/* you can tell by all the smoke */
.point_icon_14 {
	background-image: url("../images/icons/map_sets/testing/smoking.png")
}

/* a health place icon */
/* hospitals, vets, and pharmacies.  could also be the location of a death */
.point_icon_15 {
	background-image: url("../images/icons/map_sets/testing/hospital.png")
}


/* a trained musician place */
/* different from a live music place, this is more for jazz clubs and orchestral stuff */
.point_icon_16 {
	background-image: url("../images/icons/map_sets/testing/live_music.png")
}


/* a live music place */
/* live music.  could be jam sessions, could be shows */
.point_icon_17 {
	background-image: url("../images/icons/map_sets/testing/live_music2.png")
}

/* a car place icon */
/* perhaps a drive in theater, car lot, make out spot you drive out to, parking lot...*/
.point_icon_18 {
	background-image: url("../images/icons/map_sets/testing/car.png")
}


/* a place of money icon */
/* for banks, MOB, and financial types */
.point_icon_19 {
	background-image: url("../images/icons/map_sets/testing/money.png")
}


/* a nature spot icon */
/* should always be a tower of rocks.  it is the international symbol of happy nature places */
.point_icon_20 {
	background-image: url("../images/icons/map_sets/testing/nature_spot.jpg")
}


/* a tech spot icon */
/* computer, video game, programming, robots, electrical engineering, etc. */
.point_icon_21 {
	background-image: url("../images/icons/map_sets/testing/tech.png")
}


/* a coffee spot icon */
/* coffee shops */
.point_icon_22 {
	background-image: url("../images/icons/map_sets/testing/coffee.png")
}



/* a drinking spot icon */
/* bars, liquor stores, places where parties have been */
.point_icon_23 {
	background-image: url("../images/icons/map_sets/testing/booze.png")
}


/* a controlled fire spot icon */
/* beach bon fires, camp fires, fire dancers, barrel fires.  less tastefully home first etc. */
.point_icon_24 {
	background-image: url("../images/icons/map_sets/testing/controlled_fire.png")
}




/* a religious place icon */
.point_icon_25 {
	background-image: url("../images/icons/map_sets/testing/religion.jpg")
}



/* a religious place icon */
.point_icon_26 {
	background-image: url("../images/icons/map_sets/testing/beach.png")
}


/* a religious place icon */
.point_icon_27 {
	background-image: url("../images/icons/map_sets/testing/art.png")
}



/* a religious place icon */
.point_icon_28 {
	background-image: url("../images/icons/map_sets/testing/shopping.png")
}



/* a religious place icon */
.point_icon_29 {
	background-image: url("../images/icons/map_sets/testing/grocery.png")
}


/* a religious place icon */
.point_icon_30 {
	background-image: url("../images/icons/map_sets/testing/metro.png")
}


/* a religious place icon */
.point_icon_31 {
	background-image: url("../images/icons/map_sets/testing/bed.png")
}




/* a religious place icon */
.point_icon_32 {
	background-image: url("../images/icons/map_sets/testing/theatre.png")
}





/* a religious place icon */
.point_icon_33 {
	background-image: url("../images/icons/map_sets/testing/bridge.png")
}



/* a religious place icon */
.point_icon_34 {
	background-image: url("../images/icons/map_sets/testing/bicycle.png")
}



/* a religious place icon */
.point_icon_35 {
	background-image: url("../images/icons/map_sets/testing/boat_dock.png")
}






