<style type="text/css">
	#map {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;
	}

	#land_tiling {
		position: absolute;
		height: 100%;
		width: 100%;
		pointer-events: none;
		top: 0px;
		z-index: -1;
		opacity: 0.3;
		filter: invert(100%);
	}

	/*points, #land_tiling {
		transition: all 0.2s;
	}*/

	#you {
		top: 50%;
		left: 50%;
		background-color: #222;
	}

	.dot, point {
		position: absolute;
		border-radius: 100px;
		min-height: 20px;
		min-width: 20px;
		
		transform: translateX(-50%) translateY(-50%);
		
	}

	points {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
	}

	point {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	point > changeSrc{
		display: block;
		min-height: 50px;
		min-width: 50px;
	}


	peephole{
		z-index: 2;
	}

	#readout {
		position: fixed;
		bottom: 0px;
		right: 0px;
	}


	#create_wall {
		position: fixed;
		top: 0px;
		right: 0px;
		background-color: #0FB;
		color: black;
		padding: 10px;
		border-radius: 5px;
	}
	

</style>


<div id="map" tabindex="1" >
	<!-- <div id="peephole"></div> -->
	<div id="land_tiling"></div>
	<peephole size="85%"></peephole>
	<div id="you" class="dot"></div>
	<points id="points" spawner="walls" autoRun="false" style="width: 100%; height: 100%">
		<point spawn class="point_icon_{{walls[i].wall_icon_id}}"
			lat="{{walls[i].wall_lat}}" 
			lng="{{walls[i].wall_lng}}"
			title="{{walls[i].wall_name}}">
			<changeSrc target="content_view" src="Anonchat/views/wallTopics.html?wall={{walls[i].wall_id}}"></changeSrc>
		</point>
	</points>
	<span id="readout"></span>
	<br><br><br><br>
	<button onclick="mapZoom(2)">Zoom In +</button><br>
	<button onclick="mapZoom(0.5)">Zoom Out -</button>
</div>

<changeSrc id="create_wall" target="content_view" src="Anonchat/views/modWall.html">+ Create New Wall</changeSrc>


<script>



// function measure(lat1, lon1, lat2, lon2){  // generally used geo measurement function
//     var R = 6378.137; // Radius of earth in KM
//     var dLat = (lat2 - lat1) * Math.PI / 180;
//     var dLon = (lon2 - lon1) * Math.PI / 180;
//     var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
//     Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
//     Math.sin(dLon/2) * Math.sin(dLon/2);
//     var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
//     var d = R * c;
//     return d * 1000; // meters
// }


var map = El.byId("map");
var points = El.byId("points");
var land_tiling = El.byId("land_tiling");

function mapZoom(scale) {
	console.log(points.style.width)

	points.style.width = (parseInt(points.style.width) * scale)+'%';
	points.style.height = (parseInt(points.style.height) * scale)+'%';

	console.log(points.style.width)
}



var walls = [];// = [ { wall_lat: 30.5, wall_lng: -97.5 } ];




PINE.ready(function(){

	/*****************
	*   VARS
	*****************/

	
	var width;
	var height;
	var degPerPx = 1.0/points.offsetWidth;
	var halfWidthDLat;
	var halfHeightDLng;

	// var lat = 0, lng = 0;
	var loc = SESSION_CACHE.location;
	var mouse_dlat = 0;
	var mouse_dlng = 0;

	var readout = document.getElementById("readout");


	/*****************
	*   INIT
	*****************/

	function resizeUpdate(event) {
		width = map.offsetWidth;
		height = map.offsetHeight;

		degPerPx = 0.5 / Math.min(width, height);

		halfWidthDLat = (degPerPx * width)/2;
		halfHeightDLng = (degPerPx * height)/2;

		console.log(width, height, degPerPx, halfWidthDLat, halfHeightDLng);
	}
	resizeUpdate();

	map.addEventListener("resize", resizeUpdate);



	/*****************
	*   SET UP MOUSE
	*****************/

	map.addEventListener("mousemove", function(event) {
		var x = event.offsetX;
		var y = event.offsetY;

		var rx = x / width;
		rx = (rx - 0.5) * 2;

		var ry = y / height;
		ry = (ry - 0.5) * 2;

		mouse_dlat = rx * halfWidthDLat;
		mouse_dlng = ry * halfHeightDLng;

		updateReadout()
	});


	/*****************
	*   SET UP KEYS
	*****************/

	keys = [ 
		"ArrowDown",
		"ArrowUp",
		"ArrowLeft",
		"ArrowRight",
	];

	var keysPressed = {};
	var keysUpdated = {};

	(function( watchedKeys, domNode ) {
		var handler = function( down ) {
			return function( e ) {
				var index = watchedKeys.indexOf( e.key );

				console.log(e.key)

				if( index >= 0 ) {
					if( keysPressed[e.key] != down ) {
						keysUpdated[e.key] = true;
					}
					keysPressed[e.key] = down; 
					//e.preventDefault();
				}
			};
		};
		domNode.addEventListener( "keydown", handler( true ), false );
		domNode.addEventListener( "keyup", handler( false ), false );

		//init all keys
		for(i in watchedKeys) {
			keysUpdated[watchedKeys[i]] = false;
			keysPressed[watchedKeys[i]] = false;
		}

	})(keys, map);

	
	
	



	/*****************
	*   SET UP UPDATING
	*****************/

	setLocation(30, -97);

	navigator.geolocation.getCurrentPosition(function(position){
		setLocation(position.coords.latitude, position.coords.longitude)
	});

	function setLocation(i_lat, i_lng) {
		loc.lat = i_lat;
		loc.lng = i_lng;

		getPoints();
	}

	function getPoints()  {
		var min_lat = loc.lat - 2;
		var max_lat = loc.lat + 2;

		var min_lng = loc.lng - 2;
		var max_lng = loc.lng + 2;

		El.byId("points").setAttribute("lat", loc.lat);
		El.byId("points").setAttribute("lng", loc.lng);



		// var target = "http://localhost:8080/aardvark/walls"
		var target = PATH_TO_SERVER+"/aardvark/walls"
		target += "?min_lat="+min_lat;
		target += "&max_lat="+max_lat;
		target += "&min_lng="+min_lng;
		target += "&max_lng="+max_lng;
	    // var target = "http://localhost:8080/aardvark/wall/0/topic/0/posts";

	    var request = new XMLHttpRequest();
	    // request.responseType = 'text';
	    request.open('GET', target, true);

	    request.onload = function() {
	        if (request.status >= 200 && request.status < 400) {
	            // Success!
	            var response = request.responseText;
	            console.log(response);
	            var data = JSON.parse(response);
	            console.log(data);
	            console.log(data.name);

	            addPointsToMap(data.vals);

	            // walls = data.vals;
	            // document.getElementById("points").FNS.update();
	            // updatePointPositions();
	            
	        } else {
	            // We reached our target server, but it returned an error
	            alert("include src '"+target+"' does not exist")
	        }
	    };



	    request.onerror = function() {
	        // There was a connection error of some sort
	        alert("include src '"+target+"' does not exist")
	    };

	    request.send();

	}

	function addPointsToMap(addUs) {
		walls = walls.concat(addUs);
		points.FNS.update();
		var plat = U.attr(points, "lat");
		var plng = U.attr(points, "lng");

		for(var i = 0; i < points.childNodes.length; i++) {
			var domNode = points.childNodes[i];
			if(domNode.tagName == "POINT") {
				var wall_lat = U.attr(domNode, "lat");
				var wall_lng = U.attr(domNode, "lng");

				var xdeg = (wall_lat - plat) * 100;
				var ydeg = (plng- wall_lng) * 100;

				// var x = (width/2) + ~~((wall_lat - loc.lat) / degPerPx);
				// var y = (height/2) + ~~((wall_lng - loc.lng) / degPerPx);

				domNode.style.left = xdeg+"%";
				domNode.style.top = ydeg+"%";
					
			}
		}

	}

	




	function updateMovement() {

		// console.log(lat +" "+lng);

		var dlat = 0, dlng = 0;

		if( keysPressed["ArrowUp"] )
			dlng += 0.01

		if( keysPressed["ArrowDown"] ) 
			dlng -= 0.01

		if( keysPressed["ArrowLeft"] )
			dlat -= 0.01

		if( keysPressed["ArrowRight"] )
			dlat += 0.01

		if(dlat || dlng) {
			loc.lat += dlat;
			loc.lng += dlng;

			updateReadout()
			updatePointPositions();
		}
	}

	setInterval(updateMovement, 100)

	function updateReadout() {
		var latOut = ((loc.lat+mouse_dlat)+'').substring(0, 6);
		var lngOut = ((loc.lng+mouse_dlng)+'').substring(0, 6);
		readout.innerHTML = latOut+", "+lngOut;
	}


	function updatePointPositions() {
		var plat = U.attr(points, "lat");
		var plng = U.attr(points, "lng");

		
		var xdeg = ((plat - loc.lat) * 50) + 50;
		var ydeg = ((loc.lng - plng) * 50) + 50;

		TweenLite.to(points, 0.2, { css: { left: xdeg+"%", top: ydeg+"%" } } );
		TweenLite.to(land_tiling, 0.2, { css :{ backgroundPosition: xdeg+"% "+ydeg+"%" } } );
	}

});


</script>


