<script>
	function getQuery(name){
		// alert(window.location.search);
	   	if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(window.location.search))
	        return decodeURIComponent(name[1]);

	    else return undefined;
	}

	// alert(window.location.search);



	var posts = [];
	var wall = getQuery("wall") || 0;
	var topic = getQuery("topic");

	if(topic !== undefined) {
		var topic_tag = SESSION_CACHE.topic_tags[topic];
		document.getElementById("header").innerHTML += " for topic "+topic_tag;
		document.getElementById("topic_tag").value = topic_tag;
	}
	else {
		document.getElementById("header").innerHTML += " for all topics";
	}

	PINE.addEventListener("DOMContentLoaded", function() {
	    
	    // var topic = getQuery("topic") || 0;

	    // var target = "http://localhost:8080/aardvark/posts?wall="+wall+"&topic="+topic;
	    var target = "http://localhost:8080/aardvark/posts?wall="+wall;
	    if(topic) { target += "&topic="+topic; }

	    // var target = "http://localhost:8080/aardvark/wall/0/topic/0/posts";
	    // alert(target);

	    var request = new XMLHttpRequest();
	    // request.responseType = 'text';
	    request.open('GET', target, true);

	    request.onload = function() {
	        if (request.status >= 200 && request.status < 400) {
	            // Success!
	            var response = request.responseText;
	            console.log(response);
	            var data = JSON.parse(response);
	            console.log(data);
	            console.log(data.name);

	            posts = data.vals;
	            PINE.getNodeFunction($("postlist")[0], "update")();
	        } else {
	            // We reached our target server, but it returned an error
	            alert("include src '"+target+"' does not exist")
	        }
	    };



	    request.onerror = function() {
	        // There was a connection error of some sort
	        alert("include src '"+target+"' does not exist")
	    };

	    request.send();
	});





	function addComment(addMe) {
        posts.push(addMe);

        $("postlist")[0].FNS.update();


        // alert("adding commert");

        var request = new XMLHttpRequest();
        request.open('POST', 'http://localhost:8080/aardvark/posts', true);
        request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        // request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        // request.send({"post_body": addMe, "post_wall_id": wall});

        var topic_tag = document.getElementById("topic_tag").value;

	  	// send the collected data as JSON
	  	var data = {post_body: addMe, post_wall_id: wall, post_topic_tag: topic_tag};
	  	// console.log(data);
	  	request.send(JSON.stringify(data));
	  	// request.send(data);

	  	// xhr.onloadend = function () {
	   //  	// done
	  	// };

    }



	// var i = 0;



	// alert(getQuery("s"));
</script>

<h3><center id="header">Posts</center></h3>

<postlist spawner="posts" autoRun="false">
	<post spawn>{{posts[i]}}</post>
</postlist>

<commentbox submitfn="addComment"></commentbox>
#<input id="topic_tag" type="textarae"></input>

<button trigger="click" target="commentbox" fn="submit">
	Submit
</button>