<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { height: 100%; margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
        .mapbox-improve-map { display: none }

        #clouds {
            position: absolute;
            top: 0px;
            height: 100%;
            width: 100%;
            background-image: url("../public/images/cloud_border.png");
            background-size: 100% 100%;
            pointer-events: none;
        }
    </style>
</head>
<body>

<div id='map'></div>
<div id="clouds"></div>
<script>
var viewDist = 0.002;
var position = [-97.754072, 30.262567];

var bounds = [
    [position[0]-viewDist, position[1]-viewDist], // Southwest coordinates
    [position[0]+viewDist, position[1]+viewDist]  // Northeast coordinates
];


30.264218


mapboxgl.accessToken = 'pk.eyJ1Ijoic2VwaHJlZWQiLCJhIjoiY2ltY2swaHp5MDAwcnVmbHZueDJ0b3JuYiJ9.2On-Ezp_IskFR_Vpn9JrHA';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/sephreed/cimckh1zj00cj9lm1ch93zx6q', //hosted style id
    center: position, // starting position
    zoom: 19, // starting zoom
    maxBounds: bounds
});

map.dragRotate.disable();

// disable map rotation using touch rotation gesture
map.touchZoomRotate.disableRotation();





map.on('style.load', function () {
    map.addSource("markers", {
        "type": "geojson",
        "data": {
            "type": "FeatureCollection",
            "features": [{
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": position
                },
                "properties": {
                    "title": "Mapbox DC",
                    "marker-symbol": "monument"
                }
            }, {
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": [-97.754172, 30.262667]
                },
                "properties": {
                    "title": "Mapbox SF",
                    "marker-symbol": "harbor"
                }
            }]
        }
    });

    map.addLayer({
        "id": "markers",
        "type": "symbol",
        "source": "markers",
        "layout": {
            "icon-image": "{marker-symbol}-15",
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
        }
    });
});

</script>

</body>
</html>
