<script>
	var posts = [];

	var wall = getQuery("wall") || 0;

	PINE.addEventListener("DOMContentLoaded", function() {

	    var target = "http://localhost:8080/aardvark/topics?wall="+wall;
	    // var target = "http://localhost:8080/aardvark/wall/0/topic/0/posts";

	    var request = new XMLHttpRequest();
	    // request.responseType = 'text';
	    request.open('GET', target, true);

	    request.onload = function() {
	        if (request.status >= 200 && request.status < 400) {
	            // Success!
	            var response = request.responseText;
	            console.log(response);
	            var data = JSON.parse(response);
	            console.log(data);
	            console.log(data.name);

	            posts = data.vals;
	            $("topiclist")[0]._pine_.fns.update();
	        } else {
	            // We reached our target server, but it returned an error
	            alert("include src '"+target+"' does not exist")
	        }
	    };



	    request.onerror = function() {
	        // There was a connection error of some sort
	        alert("include src '"+target+"' does not exist")
	    };

	    request.send();
	});








	// var i = 0;

	function getQuery(name){
		// alert(window.location.search);
	   	if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(window.location.search))
	        return decodeURIComponent(name[1]);
	}

	// alert(getQuery("s"));
</script>

topics for wall:{{wall}}

<topiclist spawner="posts" autoRun="false">
	<!-- <post spawn>#{{posts[i].topic_tag}}</post> -->
	<topic>
		<changeSrc target="content_view" src="views/posts.html?wall={{wall}}">See all</changeSrc>
	</topic>
	<topic spawn>
		<changeSrc target="content_view" src="views/posts.html?wall={{wall}}&topic={{posts[i].topic_id}}">#{{posts[i].topic_tag}}</changeSrc>
	</topic>
</topiclist>

