
@font-face {
	font-family: 'SilkScreen';
  	src:  url('public/fonts/Silk_Screen/slkscr.ttf') format('truetype');
}

@font-face {
	font-family: 'SilkScreen';
  	src:  url('public/fonts/Silk_Screen/slkscrb.ttf') format('truetype');
  	font-weight: bold;
}

@font-face {
	font-family: '8Bit';
  	src:  url('public/fonts/8-bit pusab.ttf') format('truetype');
}

@font-face {
	font-family: 'FreePixel';
  	src:  url('public/fonts/FreePixel.ttf') format('truetype');
}

@font-face {
	font-family: 'TypeWriter';
  	src:  url('public/fonts/type_writer.ttf') format('truetype');
}




a, a:visited {
	color: var(--linkColor);
}


html {
	background-color: var(--backdropColor);
}

body {
	font-family: arial;
	color: var(--panelTextColor);
	background-color: var(--backdropColor);
	border-color: var(--panelBorderColor);
	border-width: var(--panelBorderWidth);
	font-size: 13px;
	background-image: url("public/images/textures/texture_gritty.png");
	background-size: auto auto;
	background-repeat: repeat;
}
	app {
		display: block;
	}


		unsavedChanges {
			display: none;
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			padding: 20px;
			z-index: 100;
			font-size: 40px;
			color: #F08;
			background-color: #111;
			text-align: center;
		}

		#darken {
			background-color: rgba(33,33,33,0.75);
		}

		#mainFileBrowser {
			background-color: var(--panelBase);
			/*padding: 10px;*/
			border-style: solid;
			border-color: var(--panelBorderColor);
			box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
		}

			/*dirItem:hover {
				background-color: rgba(250,250,250, 0.1);
			}*/


		topbar {
			display: block;
			height: var(--topbarHeight);
			border-bottom-style: solid;
			background-color: var(--panelBase);
			border-color: var(--panelBorderColor);
		}

		mainArea {
			display: flex;
			position: absolute;
			top: var(--topbarHeight);
			bottom: 0px;
			width: 100%;
		}

			controlarea {
				display: flex;
				width: 280px;
				height: 100%;
				top: 0px;
				bottom: 0px;
				background-color: var(--panelBase);
				flex-direction: column;
				border-color: var(--panelBorderColor);
				
				border-right-style: solid;
				box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
				z-index: 3;
			}

				palletteArea {
					position: relative;
					display: block;
					height: 450px;
					padding: 3px;
					border-bottom-style: solid;
					border-color: var(--panelBorderColor);
				}

					palletteArea>resize {
						/*position: absolute;*/
						/*right: 0px;*/
						/*bottom: 0px;*/
						/*transform: translate(50%, 50%) rotate(45deg);
						border-color: black !important;
						background-color: #888;
						opacity: 1 !important;*/
					}

					palletteArea::after {
						position: absolute;
						content: ' ';
						top: 6px;
						left: 6px;
						right: 6px;
						bottom: 6px;
						box-shadow: var(--vignette);
						z-index: 3;
						pointer-events: none;
					}
					

						palletteScroller {
							display: block;
							position: relative;
							height: 100%;
							width: 100%;
							position: relative;
							overflow: scroll;
							border-style: solid;
							border-color: var(--panelBorderColor);
						}

							pallette {
								display: block;
								position: relative;
							}


								pallette > * {
									/*position: absolute;*/
									/*top: 0px;*/
									/*left: 0px;*/
									image-rendering: -moz-crisp-edges;
									/*height: 100%;*/
									/*width: 100%;*/
								}

								pallette > canvas {
									position: absolute;
									top: 0px;
									left: 0px;
									height: 100%;
									width: 100%;
								}	

						

						

				layerSelect {
					display: block;
					height: 110px;
					flex-grow: 1;
				}

					resourceBrowser {
						display: block;
					}



			drawArea {
				display: inline-block;
				position: relative;
				flex-grow: 1;
				height: 100%;
			}

				

					

				drawArea > userTextFeedback {
					display: block;
					position: absolute;
					bottom: 0px;
					z-index: 30;
					width: 100%;
					font-size: 16px;
				}

					drawArea > userTextFeedback > tmpMsg {
						display: block;
						background-color: var(--heavyDarken);
						padding: 2px 10px;
					}

				desktop {
					display: block;
					position: absolute;
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					overflow: scroll;
				}

				



		noShow {
			display: none;
		}
