body.style_bitwig {
	/*background-color: #2C2C2C;*/
}








.style_bitwig #topbar {
	background-color: #1F1F1F;
}	

	.style_bitwig #fullscreen_btn {
		background-color: #00853D;
	}

	
	.style_bitwig *[dropdownMenu]{
		background-color: #555;
	}


		.style_bitwig [dropdownMenu] .hoveredMenuItem, .style_bitwig .showingMenu {
			background-color: #FF750B;
			color: #222;
		}


.style_bitwig tracklist {
	background-color: #BDBDBD;
	background-image: none;
}


.style_bitwig #details {
	background-color: #3A3A3A;
}