body.style_space {
	/*background-color: #2C2C2C;*/
}

	.style_space * {
		border-color: #FF0;
	}







.style_space #topbar {
	background-color: #1F1F1F;
}	

	.style_space #fullscreen_btn {
		background-color: #00853D;
		border-color: #333;
	}

	
	.style_space *[dropdownMenu]{
		background-color: #1F1F1F;
	}


		.style_space [dropdownMenu] .hoveredMenuItem, .style_space .showingMenu {
			background-color: #FF0;
			color: #222;
		}

	.style_space #rack_tabs > span {
		background-color: #000;
	}

		.style_space #rack_tabs .active_rack {
			background-color: #FF0;
			color: #000;
		}


.style_space tracklist {
	/*background-color: #BDBDBD;*/
	background-color: transparent;
	background-image: linear-gradient(#0E2527, #211113);
	background-position: top left;
	background-size: cover;

}

	.style_space tracklist * {
		/*border-color: #F0F;*/
	}


.style_space #details {
	background-color: #000;
}
	.style_space rsdevice {
		border-color: #0B0;
		background: #0e2400;
	}


		.style_space devicerack {
			background-image: url("../images/grid_green.png");
		}


			.style_space #rack_topbar .button {
				background-color: #FF0;
			}

				.style_space #rack_topbar .button.switch_on {
					background-color: #00f6ff;
				}











