body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
}

@font-face {
	font-family: 'Bungee Inline';
	src:  url('BungeeInline-Regular.ttf') format('truetype');
}


body {
	/*padding-top: 40px;*/
	cursor: help;
	background: #222;
	color: white;
	position: relative;
	font-family: 'Bungee Inline', monospace;
	text-align: center;
	color: #E86;
}

	

	a {
		color: #F0F;
	}

	p {
		font-family: arial;
		text-align: left;
	}

	#foreground, #background {
		
	}

	#foreground {
		width: 100%;
		padding-top: 40px;
		position: absolute;
		overflow: scroll;
	}

		#links {
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			background: rgba(0,0,0,0.8);
			padding: 5px 0px;
			z-index: 20;
		}

			#links a {
				padding: 0px 10px;
				text-decoration: none;
			}

	#background {
		position: fixed;
		top: 0px;
		height: 100%;
		width: 100%;
		bottom: 0px;
		background-image: url("plant_room.jpeg");
		background-size: cover;
		opacity: 0.4;
		transition: opacity 1s ease;
	}

		.deblur #background{
			opacity: 1;
		}



@media all and (max-width: 800px) {
	#cutout {
		max-width: 90%;
	}
	#watch_us img {
  		width: 20%;
  	}
}

@media all and (max-width: 400px) {

	#watch_us img {
  		width: 25%;
  	}
}