body {
	background-image: url(../../images/sponsors/bg_planned_parenthood.png) ;
	background-repeat: repeat;
	background-size: auto auto;
}

	topbar {
		background-color: #348CB2;
		background-image: linear-gradient(#348CB2, #4CB2CF);
	}

		headerbar {
			background-color: transparent;
			color: #FAFAFA;
		}
			headerbar > #corporate_logo {
				top: 4px;
				height: 40px;
			}

		navbar {
			background-color: transparent;
			border-color: #bdbdbd;
			border-style: none;
		}

			navbar .navlinks {
				/*filter: invert(50%);*/
			}

				tabletbuttons > * {
					border-color: #8F5E35;
				}

				tabletbuttons .button {
					background-color: #ED8A39;
				}

			

	bottombar {
		background-color: #ED8A39;
	}

		bottombar > a {
			color: white;
		}