body {
	background-image: url(../../images/sponsors/bg_robin_hood.png) ;
	/*background-repeat: repeat;*/
	/*background-size: auto auto;*/
	background-color: #BCE52C; 
	background-position: bottom 70px center;
}

	topbar {
		/*background-color: #348CB2;*/
		/*background-image: linear-gradient(#348CB2, #4CB2CF);*/
	}

		headerbar {
			/*background-color: transparent;*/
			/*color: #FAFAFA;*/
		}

		navbar {
			background-color: #005983;
			border: none;
			/*border-color: #3BB952;*/
			/*border-style: none;*/
		}

			navbar .navlinks {
				/*filter: brightness(0.4) saturate(100%) hue-rotate(90deg);*/
			}

			tabletbuttons > * {
				color: #005983;
				border-style: none;
				border-radius: 2px;
			}

				searcharea > searchbutton > img {
					filter: invert(70%);
				}

				tabletbuttons .button {
					background-color: #EDEBE4;
				}

			headerbar > #corporate_logo {
				top: 4px;
				height: 45px;
			}

	bottombar {
		background-color: #EDEBE4;
		/*border-top: 4px solid #AC1F2D;*/
	}

		bottombar > a {
			color: #555555;

		}