/*******************************************
*               INIT BITS                  *
*******************************************/

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
}


body {
	font-family: 'Titillium Web', sans-serif;
}

a {
	text-decoration: none;
	color: #AAF;
}


a:visited {  color: #BBB; }
a:hover {  color: #FFA;  }







/*******************************************
*               BASIC BITS                 *
*******************************************/

.standard_portfolio_block {
	width: 100%
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: solid 1px #222;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}


.big_text {
	font-size: 20px;
}

.undertitle {
	font-size: 15px;
}

.odd_row {
	background-color: rgba(0,0,0, 0.2);
}


.background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	pointer-events: none;
}







/*******************************************
*               HEADER                     *
*******************************************/

#header {
	position: relative;
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0);
	background: linear-gradient(#250329, #192A38);
	
	background-repeat: no-repeat;
	color: #EEE;
	text-align: center;
	overflow: hidden;
}


#header .big_text {
	font-size: 70px;
}



#thumbz_box {
	width: 300px;
	height: 300px;
    margin: 0 auto; 
}

#space_box {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
}

#treeline {
	pointer-events: none;
	position: absolute;
	background-image: url("http://www.clker.com/cliparts/S/R/7/l/C/A/green-treeline-over-white-background-hi.png");
	background-repeat: repeat-x;
	background-position: bottom;
	opacity: 0.1;
	height: 100%;
	width: 100%;
	bottom: -8px;
}







/*******************************************
*               SKILLSETS                  *
*******************************************/

#skillsets {
	padding-top: 20px;
	background-color: #422;
	color: #EEE;

	background: linear-gradient(#572125, #481A24 6px);
	/*background: linear-gradient(#441C1F, #481C26 6px);*/
}

#coding_btn {
	background-image: url('public/images/Code_Workspace.png');
	background-size: cover;
	background-position: center center;
	font-family: 'Orbitron', monospace;
	color: #5DCFA7;
}


#artisan_btn {
	background-image: url('https://pfollansbee.files.wordpress.com/2008/11/autumn-2008.jpg');
}



#skillsets a {
	/*color: #EEE;*/
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;
	background-color: #333;
	border-radius: 20px;
	border: 1px #222 solid;
	box-shadow: 1px 0px 4px rgba(0,0,0,0.3);
	/*cursor: pointer;*/
	/*text-shadow:
	    -1px -1px 0 rgba(0,0,0,0.5),
	    1px -1px 0 rgba(0,0,0,0.5),
	    -1px 1px 0 rgba(0,0,0,0.5),
	    1px 1px 0 rgba(0,0,0,0.5);  */
	overflow: hidden;
}

#skillsets a > div{ 
	background-color: rgba(0,0,0,0.3);
}




/*******************************************
*          PORTFOLIO DETAILS BITS          *
*******************************************/

.title_block {
	padding-top: 20px;
	padding-bottom: 20px;
}

.title_block h1 {
	font-size: 25px;
}

.title_block h2 {
	font-size: 18px;
}

.wide_block_group {
	/*max-width: 1000px;*/
	margin-left: 6%;
	margin-right: 6%;
	transition: all 1.0s ease;
}

.terminal .wide_block_group {
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}

.detail_block_group {
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;
	width: 100%;
}

.detail_block_group > div {
	display: inline-block;
	width: 100%;
	overflow: hidden;	
}

.group_items > div {
	font-size: 14px;
	padding: 15px;
	text-align: justify;
}


.group_items h1 {
	text-align: center;
	font-size: 22px;
	padding: 10px;
}

.group_items h2 {
	font-size: 22px;
}	

.image_blurb_group > div{
	background-image: url("http://c300221.r21.cf1.rackcdn.com/flower-of-life-1362129627_b.jpg");
	min-height: 100px;
	background-size: 120px auto;
	background-repeat: no-repeat;
	padding-left: 130px;
	background-position: left center;
}

.single_column_image > img {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.single_column_image > div {
	border-bottom: 1px solid rgba(128,128,128, 0.2);
}











/*******************************************
*                 YouTube Stuff            *
*******************************************/

.auto-resizable-iframe {
  /*max-width: 420px;*/
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}











/*******************************************
*          SCREEN SIZE CASE BITS           *
*******************************************/

@media all and (max-width: 900px) {
  	.detail_block_group{
    	-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	
  	}

  	.group_items > div {
  		text-align: left;
  		/*padding-left: 15px;*/
  		/*background-size: 55px auto;*/
  		/*background-position: left top;*/

  	}

  	.wide_block_group {
  		margin-left: 2%;
  		margin-right: 2%;
  	}

  	./*group_items h2 {
  		text-align: center;
  	}*/
}

@media all and (max-width: 400px) {
	.image_blurb_group > div {
  		/*text-align: left;*/
  		padding-left: 15px;
  		background-size: 55px auto;
  		background-position: 10px 2px;

  	}

  	.image_blurb_group h2 {
  		/*text-align: center;*/
  		padding-left: 60px;
  		padding-bottom: 10px;
  	}

  	/*.single_column_image > div {
  		margin-left: 
  	}*/
  	./*worktype {
  		margin: 4px;
  		width: 140px;
  		height: 140px;
  	}*/
}



















