/*******************************************
*               INIT BITS                  *
*******************************************/

@font-face {
	font-family: 'Titillium Web';
  	src:  url('../public/fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
}


@font-face {
	font-family: 'Orbitron';
  	src:  url('../public/fonts/Orbitron/Orbitron-Regular.ttf') format('truetype');
}



@font-face {
	font-family: 'Josefin Slab';
  	src:  url('../public/fonts/Josefin_Slab/JosefinSlab-Regular.ttf') format('truetype');
}



#blueAuraFade {
	background-image: radial-gradient(rgba(28, 63, 69, 0.44), rgba(15, 1, 6, 0.6));
}

#thickBlackFade {
	background-color: rgba(0,0,0,0.85);
}


html {
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
}

img {
	outline : none;
}



body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #222;
	color: #FAFAFA;
}

a {
	text-decoration: none;
	color: #AAF;
	outline : none;
}


a:visited {  color: #BBB; }
a:hover {  color: #FFA;  }







/*******************************************
*               BASIC BITS                 *
*******************************************/

h1, .big_text {
	font-weight: normal;
	font-size: 20px;
}

h1 + span, .undertitle {
	font-size: 15px;
}


.odd_row {
	/*background-color: rgba(0,0,0, 0.2);*/
	background-color: rgba(255, 255, 255, 0.05)
}


.background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	pointer-events: none;
}







/*******************************************
*               HEADER                     *
*******************************************/

#header {
	position: relative;
	/*position: absolute;*/
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0);
	/*background: linear-gradient(#250329, #192A38);*/
	/*background: linear-gradient(#280025, #00434E);*/
	background: linear-gradient(#1D1234, #1C1626);
	/*height: calc(100% - 330px);*/
	
	background-repeat: no-repeat;
	color: #EEE;
	text-align: center;
	overflow: hidden;
}


	#header h1 {
		font-size: 70px;
	}



	#header > span {
		font-size: 17px;
		/*background: #21112E;*/
		background-color: #1A1733;
		position: relative;
		z-index: 1;
	}


	#thumbz_box {
		position: relative;
		width: 300px;
		height: 300px;
	    margin: 0 auto; 
	    z-index: 5;
	    cursor: grab;
	}

	#space_box {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
	}

	#header > background {
		display: block;
		height: 250px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		pointer-events: none;
	}

		#header > background > div {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			pointer-events: none;
			
		}

			#header > background > .treeline {
				background-image: url('../public/images/treeline.png');
				background-repeat: repeat-x; 
				background-position: bottom;
				/*opacity: 0.8;*/
				filter: invert(7%);
			}

			#header > background > .pine_hill {
				background-image: url('../public/images/Pine_hill_2.png'); 
				background-repeat: no-repeat; 
				background-position: bottom left;
				background-size: contain;
			}



	/*#treeline {
		pointer-events: none;
		position: absolute;
		background-image: url("http://www.clker.com/cliparts/S/R/7/l/C/A/green-treeline-over-white-background-hi.png");
		background-repeat: repeat-x;
		background-position: bottom;
		opacity: 0.1;
		height: 100%;
		width: 100%;
		bottom: -8px;
	}*/







/*******************************************
*               SKILLSETS                  *
*******************************************/

#skillsets {
	padding-top: 20px;
	background-color: #422;
	color: #EEE;

	/*background: linear-gradient(#572125, #481A24 6px);*/
	background: linear-gradient(#75393c, #5F292C 6px);
	border: #111 3px solid;
	border-width: 3px 0px;
	/*background: linear-gradient(#441C1F, #481C26 6px);*/
}

	#coding_btn {
		background-image: url('public/images/Code_Workspace.png');
		background-size: cover;
		background-position: center center;
		font-family: 'Orbitron', monospace;
		color: #5DCFA7;
	}


	#fabrication_btn {
		background-image: url('public/images/fabrication.jpg');
		background-size: cover;
		background-position: center center;
		font-family: "Josefin Slab", times;
	}

	#digital_art_btn {
		background-image: url('public/images/well_conditioned_lover.jpg');
		background-size: cover;
		background-position: center center;
	}



	#skillsets a, #skillsets changeSrc {
		/*color: #EEE;*/
		cursor: pointer;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		height: 200px;
		width: 200px;
		display: inline-block;
		margin: 10px;
		background-color: #333;
		border-radius: 20px;
		border: 1px #222 solid;
		box-shadow: 1px 0px 4px rgba(0,0,0,0.3);
		/*cursor: pointer;*/
		/*text-shadow:
		    -1px -1px 0 rgba(0,0,0,0.5),
		    1px -1px 0 rgba(0,0,0,0.5),
		    -1px 1px 0 rgba(0,0,0,0.5),
		    1px 1px 0 rgba(0,0,0,0.5);  */
		overflow: hidden;
	}

	#skillsets a > div, #skillsets changeSrc > div{ 
		background-color: rgba(0,0,0,0.5);
	}

	#skillsets changeSrc:hover {  
		color: #FFA;  
	}






/*******************************************
*          PORTFOLIO DETAILS BITS          *
*******************************************/

.title_block {
	padding-top: 20px;
	padding-bottom: 20px;
}

.title_block h1 {
	font-size: 25px;
}

.title_block h2 {
	font-size: 18px;
}

.wide_block_group {
	/*max-width: 1000px;*/
	margin-left: 6%;
	margin-right: 6%;
	transition: all 1.0s ease;
}


.detail_block_group {
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;
	width: 100%;
}

.detail_block_group > div {
	display: inline-block;
	width: 100%;
	overflow: hidden;	
}

.group_items > div {
	font-size: 14px;
	padding: 15px;
	text-align: justify;
}


.group_items h1 {
	text-align: center;
	font-size: 22px;
	padding: 10px;
}

.group_items h2 {
	font-size: 22px;
}	

.image_blurb_group > div{
	background-image: url("http://c300221.r21.cf1.rackcdn.com/flower-of-life-1362129627_b.jpg");
	min-height: 130px;
	background-size: 120px auto;
	background-repeat: no-repeat;
	padding-left: 130px;
	padding-bottom: 10px;
	background-position: 5px center;
}


.single_column_image > div {
	/*border-bottom: 1px solid rgba(128,128,128, 0.2);*/
	padding: 15px;
}



.project_and_description {
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;

	padding-top: 10px;
}

	.project_and_description > div, 
	.project_and_description > p, 
	.project_and_description > img, {
		display: inline-block;
	}

	imagewrap {
		display: inline-block;
		position: relative;
		line-height: 0px;
		overflow: hidden;
	}

		imagewrap > img {
			width: 100%;
		}

	.project_and_description > img,  .project_and_description > imagewrap {
		position: relative;
		width: 96%;
		/*max-width: 480px;*/
		margin-left: auto;
		margin-right: auto;
		/*border: solid 1px rgba(180, 180, 180, 0.42);;*/
		border-radius: 2px 2px 4px 4px;
		box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.25);
		overflow: hidden;
	}

	.project_and_description > p {
		padding-top: 20px;
	}

		.project_and_description > p > a {
			display: block;
			font-size: 15px;
			margin-top: 5px;
			padding-left: 18px;
			background-image: url("public/images/arrow_right.png");
			background-position: left;
			background-repeat: no-repeat;
			background-size: 15px auto;
		}

		/*a.icon_web_link {
			padding-left: 30px;
			background-image: url("public/images/pointer3.png");
			background-position: left;
		}*/


.image_layer {
	position: relative;
	width: 96%;
	/*max-width: 480px;*/
	margin-left: auto;
	margin-right: auto;
	/*border: solid 1px rgba(180, 180, 180, 0.42);;*/
	border-radius: 2px 2px 4px 4px;
	box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.25);
	overflow: hidden;
}

	.image_layer > div {
		position: absolute;
		top: 0px;
		text-align: center;
		height: 100%;
		width: 100%;
		line-height: 0px;
		margin-left: auto;
		margin-right: auto;
		opacity: 0.0;
		transition: all 0.5s ease;
	}

		.image_layer > div:hover {
			opacity: 1.0;
		}

		.image_layer > div img {
			/*display: inline-block;*/
			margin-top: 30%;
			height: 50%;
			/*width: 50%;*/
			max-height: 200px;
			/*max-width: 400px;*/
			/*border-radius: 50px;*/
			margin-left: 3%;
			margin-right: 3%;
			opacity: 0.3;
			transform: translateY(-50%);
			transition: all 0.1s ease;
		}

			.image_layer > div img:hover {
				opacity: 1.0;
			}

		.image_layer > div:first-child {
			position: relative;
			opacity: initial;
		}

			.image_layer > div:first-child img{
				width: 100%;
				height: auto;
				margin-top: initial;
				margin-left: initial;
				margin-right: initial;
				max-height: initial;
				/*max-width: initial;*/
				/*border-radius: initial;*/
				opacity: initial;
				transform: initial;
			}




columns {
	display: block;

	-moz-column-count: 2;
	-moz-column-gap: 0px;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;

	-webkit-column-rule-width: 2px;
   	-moz-column-rule-width: 2px;
    column-rule-width: 2px;
	-webkit-column-rule-style: solid;
   	-moz-column-rule-style: solid;
    column-rule-style: solid;


	width: 100%;
	line-height: 0px;
}

	columns > div {
		display: inline-block;
		overflow: hidden;	
		/*border-left: solid 2px;*/
		/*border-right: solid 1px;*/
		line-height: initial;
	}

		.multi_column columns > div {
			width: 100%;
		}




/*******************************************
*                 YouTube Stuff            *
*******************************************/

.auto-resizable-iframe {
  /*max-width: 420px;*/
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}











/*******************************************
*          SCREEN SIZE CASE BITS           *
*******************************************/

@media all and (max-width: 900px) {
  	columns, .detail_block_group {
    	-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
  	}

  	.group_items > div {
  		text-align: left;
  	}

  	.wide_block_group {
  		margin-left: 0px;
  		margin-right: 0px;
  		/*margin-left: 2%;*/
  		/*margin-right: 2%;*/
  	}

  	.image_layer > div {
  		opacity: 0.8;
  	}

}

@media all and (max-width: 800px) {
	.project_and_description {
    	-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
  	}

  	.project_and_description > p {
		padding-top: 0px;
	}
}

@media all and (max-width: 400px) {
	#header h1 {
		font-size: 60px;
	}

	.image_blurb_group > div {
  		/*text-align: left;*/
  		padding-left: 15px;
  		background-size: 50px auto;
  		background-position: 10px 2px;

  	}

  	.image_blurb_group h2 {
  		/*text-align: center;*/
  		padding-top: 10px;
  		padding-left: 60px;
  		padding-bottom: 10px;
  	}

  	/*.single_column_image > div {
  		margin-left: 
  	}*/
  	./*worktype {
  		margin: 4px;
  		width: 140px;
  		height: 140px;
  	}*/
}

















.regal {
	border-top: 10px solid #222;
	background: linear-gradient(rgb(60, 37, 38), rgb(53, 27, 33) 6px);
	color: #CC905C;
}
		



.tabletop {
	background-image: radial-gradient(transparent, rgba(230, 155, 100, 0.58)), url("public/images/boards.jpg");
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
	border-top: 1px solid #222;
}

	

	

	.tabletop .detail_block_group {
		text-align: center;
	}

	.tabletop .detail_block_group > div {
		width: 93%;
		/*transform: rotate(0.5deg);*/
		border-color: rgba(256,256,256,0.1);
		background-color: #EEE;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	}
	




		#popin_wrapper {
			position: fixed;
			text-align: center;
			width: 100%;
			bottom: -10px;
			z-index: 10;
			/*pointer-events: none;*/
		}


		#popin {
			display: inline-block;
			color: white;
			position: relative;

		}

			#popin_overlay span {
				cursor: pointer
			}


		


		#hidden_mail {
			text-align: center;
			color: #68262D;
			background-color: rgba(237, 231, 203, 0.95);
			border: 2px outset rgba(119, 63, 44, 0.2);
			box-shadow: 1px 3px 4px  rgba(0, 0, 0, 0.92);
			border-radius: 8px;
		}










#bottom_tab {
	
  	/*height: 50;*/
  	/*width: 200;*/
  	stroke-width: 1px;
  	/*fill: #43623E;*/
	stroke: rgba(39, 38, 38, 0.92);
	/*stroke: #5DCFA7;*/
	/*stroke: #111;*/
	stroke: #262626;
}

#popin_overlay {
	position: absolute;
	/*top: -20px;*/
	top: 5px;
	left: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
}


#popin_overlay a, #popin_overlay > span {
	position: relative;
	/*margin-top: 20px;*/
	top: 0px;
	display: inline-block;
	height: 50px;
	width: 50px;
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-filter: invert(80%);
	filter: invert(85%);
	/*opacity: 0.6;*/
	transition: all 0.3s ease;
	
	/*target-new: tab;*/
}

#popin_overlay a:hover, #popin_overlay > span:hover {
	top: -3px;
	background-size: 100% 100%;
}


#popin_wrapper {
	transition: bottom 1s ease;
}

	#popin_wrapper.offscreen {
		bottom: -100px;
	}




.tooltip_group > a span, .tooltip_group > span span {
	pointer-events: none;
      position: absolute;
      width: 100px;
      height: 30px;
      top: -35px;
      /*left: -20px;*/
      /*line-height: 30px;*/
      /*padding: 10px;*/
      opacity: 0.0;
      font-size: 14px;
      text-align: center;
      /*color: rgb(113, 157, 171);*/
      color: #222;
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;

      transform: translateX(-50%);
      transition: all 0.3s ease 0.2s;
}

.tooltip_group > a:hover span, .tooltip_group > span:hover span {
	opacity: 1;
}











