<script type="text/javascript">
	El.byId("header_title").innerHTML = "Account Info";
</script>

<style>

.halfButtons > * {
	display: inline-block;
	width: calc(50% - 10px);
	margin: 5px;
	padding: 20px;
}

</style>




<div id="view_account" class="columns">
	<colItem class="moneyLogs">
		<changesrc src="views/account_history.html?acct=spending">
			<entries>
				<r><d>Spending Account</d>					<d>100</d></r>
				<r class="underline"><d>#90494094094094</d>	<d></d></r>
				<r><d>place</d>								<d>100</d></r>
				<r><d>place</d>								<d>100</d></r>
				<r><d>place</d>								<d>100</d></r>
			</entries>
			<br>
			Show Full History
		</changesrc>
	</colItem>

	<colItem class="halfButtons">
		<changesrc src="views/pay.html?acct=spending">
			Pay/Transfer

		</changesrc><changesrc src="views/pay.html?acct=spending">
			Deposit

		</changesrc><changesrc src="views/share.html?acct=spending">
			Share
		</changesrc>
	</colItem>
	
</div>


















