<script type="text/javascript">
	El.byId("header_title").innerHTML = "All Accounts";
</script>



<style>


changeSrc[backButton] {
	display: none;
}

</style>


<div class="moneyLogs">
	<changesrc class="moneyLog" src="views/account.html?acct=spending">
		<entries>
			<r><d>Spending Account</d>	<d>100</d></r>
			<r><d>place</d>				<d>100</d></r>
			<r><d>place</d>				<d>100</d></r>
			<r><d>place</d>				<d>100</d></r>
		</entries>
	</changesrc>

	<changesrc class="moneyLog" src="views/account.html?acct=spending">
		<entries>
			<r><d>Spending Account</d>	<d>100</d></r>
			<r><d>place</d>				<d>100</d></r>
			<r><d>place</d>				<d>100</d></r>
			<r><d>place</d>				<d>100</d></r>
		</entries>
	</changesrc>
</div>

