<script type="text/javascript">
	El.byId("header_title").innerHTML = "Make Payment";

	function showSpriteInput() {
		El.byId("type_chooser").style.display = "inherit";
	}
</script>

<style>
</style>




<div id="view_pay" class="columns">
	<colItem>
		<div>
			Type: <spriteInput onclick="showSpriteInput()">lalal</spriteInput> 
			Amount: <br>
			Add another currency<br>
			Reciever:<br>
			<select>
				<option>BTC</option>
				<option>Factoid</option>
			</select>
		</div>		
	</colItem>
</div>

<overlay id="type_chooser" style="display: none">
			
</overlay>























