<script type="text/javascript">
	El.byId("header_title").innerHTML = "Make Payment";

</script>

<style>
</style>




<div id="view_pay" class="columns">
	<colItem>
		<div>
			Type: 
			<select>
				<option>BTC</option>
				<option>Factoid</option>
			</select>

			Amount: 
			<input type="textarea"></input>
			<br>
			Add another currency<br>
			To:<br>
			<show group="reciever" target="#pay_contact" selected>Contacts</show>
			<show group="reciever" target="#pay_transfer">My Account</show>
			<show group="reciever" target="#pay_address">Address</show>
			
			<div id="pay_contact">
				noenaoena
			</div>

			<div id="pay_transfer">
				dsoetanhdsntad;sb
			</div>

			<div id="pay_address">
				ds;tbnuadnbsuats
			</div>
		</div>		
	</colItem>
</div>






















