html {
    box-sizing: border-box;
    font-family: arial;
}

html, body, pine {
	height: 100%;
}

*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	font-family: 'Oswald', sans-serif;
}

img {
	outline : none;
}











body.page_loaded {
	transition-property: background-color, color;
    transition-duration: 0.5s;
    /*transition-duration: 0s;*/
    transition-timing-function: ease;	
}





/*#title {
	color: white;
    font-size: 50px;
    text-shadow: 1px 1px rgba(0,0,0,0.2), -1px -1px rgba(234, 207, 57, 0.2);
}*/

#title {
	color: #9C003C;
	font-size: 50px;
	/*text-shadow: 1px 1px rgba(30, 16, 20, 0.5), -1px -1px rgba(224, 17, 75, 0.8);*/
	/*text-shadow:  -1px -1px rgba(224, 17, 75, 0.69);*/
}

.results_mode #title a{
	/*color: white;*/
}

#title a {
    color: inherit;
    text-decoration: none;
}





bgimg, #fgimg {
	display: block;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

bgimg {
	position: absolute;
	z-index: -1;
	opacity: 0;
	background: url('../images/matte.png');
}

#fgimg {
	position: fixed;
	z-index: 1000;
	/*opacity: 0.01;*/
	/*background: url('../images/matte.png');*/
}




#tiny_topbar {
	background-color: #9c003c;
	height: 60px;
	display: inline-block;
	padding-right: 20px;
	border-bottom-right-radius: 7px;
}

	#tiny_topbar .title {
		margin-left: 20px;
		font-size: 40px;
		color: #EEE;
	}

		#tiny_topbar .title a {
			color: white;
			text-decoration: none;
		}















