

/*.bg_choiceQQQ {
	color: #CCE;
	text-shadow: -1px 0 #040c3a, 0 1px #040c3a, 1px 0 #13337c, 0 -1px #13337c, 1px 2px 3px #040c3a;
}*/

.bg_choice {
	/*font-weight: bold;*/
	color: rgb(204, 144, 92);
	text-shadow: -1px 0px 1px #040c3a, 0 1px 1px #040c3a, 1px 0 1px #040c3a, 0 -1px 1px #040c3a, 1px 3px 2px #040c3a;
}

/*.bg_choiceQQQ {
	color: #040c3a;
	text-shadow: -1px 0 #CCE, 0 1px #CCE, 1px 0 #CCE, 0 -1px #CCE, 1px 2px 3px #040c3a;
}*/

.bg_choice img {
	color: #EEE;
}




#topbar {
	box-shadow: 0px 2px 4px rgba(44, 51, 84, 0.41);
	border-bottom: solid 1px #1d1e18;
	
}


.fade1 {
	color: rgb(204, 144, 92);
	background: linear-gradient(#5F1F24, #481A21 6px, #39141A 70%);
	opacity: 0.95;
}

.fade2 {
	color: rgb(204, 144, 92);
	background: linear-gradient(#313329, #262720 6px, #141512 70%);
}

.fade3 {
	color: rgb(204, 144, 92);
	background: linear-gradient(#132471, #121D53 3px, #0D1433 70%);
}

.bluebar {
	
}



#file_menu {
	/*background: linear-gradient(#5F1F24, #481A21 2px, #39141A 70%);*/
	box-shadow: 0px 2px 4px rgba(44, 51, 84, 0.41);
	border-bottom: solid 1px #1d1e18;
	/*color: rgb(204, 144, 92);*/
}

#file_menu span:hover {
	/*background-color: #0D1C5F;*/
	/*background: linear-gradient(#1B2E86, #152674 3px, #152053 70%);*/
	background: linear-gradient(#132471, #121D53 3px, #0D1433 70%);
	border-bottom: solid 1px #1d1e18;
	border-top: solid 1px #1d1e18;


}




#window {
	border-color: #1d1e18;
	
	box-shadow: 0px 2px 4px rgba(44, 51, 84, 0.41);
}


#writing  {
	background-color: #F3E6D2;
}












