

.bg_choiceQQQ {
	color: #CCE;
	text-shadow: -1px 0 #040c3a, 0 1px #040c3a, 1px 0 #13337c, 0 -1px #13337c, 1px 2px 3px #040c3a;
}

.bg_choice {
	/*font-weight: bold;*/
	color: #EEE;
	text-shadow: -1px 0px 1px #040c3a, 0 1px 1px #040c3a, 1px 0 1px #040c3a, 0 -1px 1px #040c3a, 1px 3px 2px #040c3a;
}

.bg_choiceQQQ {
	color: #040c3a;
	text-shadow: -1px 0 #CCE, 0 1px #CCE, 1px 0 #CCE, 0 -1px #CCE, 1px 2px 3px #040c3a;
}

.bg_choice img {
	color: #EEE;
}




#topbar {
	background: linear-gradient(#730000, #530000 15%, #3f0000 70%);
	box-shadow: 0px 2px 4px rgba(44, 51, 84, 0.41);
	/*color: #b27d4f;*/
	/*color: #CC905C;*/
	color: rgba(204, 144, 92, 0.6);

	text-shadow: 0px 1px 1px #2C200B, 0px 0px 0px rgba(222, 173, 110, 0.9), 0px 1px 1px #261E11;
	border-bottom: solid 1px #1d1e18;
}